src/wsdl/localhost_8080/MealCheckService/MealCheckWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mealcheckservice.astielau/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mealcheckservice.astielau/" name="MealCheckWS">
<types>
<xsd:schema>
<xsd:import namespace="http://mealcheckservice.astielau/" schemaLocation="http://localhost:8080/MealCheckService/MealCheckWS?xsd=1"/>
</xsd:schema>
</types>
<message name="list">
<part name="parameters" element="tns:list"/>
</message>
<message name="listResponse">
<part name="parameters" element="tns:listResponse"/>
</message>
<message name="use">
<part name="parameters" element="tns:use"/>
</message>
<message name="useResponse">
<part name="parameters" element="tns:useResponse"/>
</message>
<message name="emit">
<part name="parameters" element="tns:emit"/>
</message>
<message name="emitResponse">
<part name="parameters" element="tns:emitResponse"/>
</message>
<message name="endorse">
<part name="parameters" element="tns:endorse"/>
</message>
<message name="endorseResponse">
<part name="parameters" element="tns:endorseResponse"/>
</message>
<portType name="MealCheckWS">
<operation name="list">
<input wsam:Action="http://mealcheckservice.astielau/MealCheckWS/listRequest" message="tns:list"/>
<output wsam:Action="http://mealcheckservice.astielau/MealCheckWS/listResponse" message="tns:listResponse"/>
</operation>
<operation name="use">
<input wsam:Action="http://mealcheckservice.astielau/MealCheckWS/useRequest" message="tns:use"/>
<output wsam:Action="http://mealcheckservice.astielau/MealCheckWS/useResponse" message="tns:useResponse"/>
</operation>
<operation name="emit">
<input wsam:Action="http://mealcheckservice.astielau/MealCheckWS/emitRequest" message="tns:emit"/>
<output wsam:Action="http://mealcheckservice.astielau/MealCheckWS/emitResponse" message="tns:emitResponse"/>
</operation>
<operation name="endorse">
<input wsam:Action="http://mealcheckservice.astielau/MealCheckWS/endorseRequest" message="tns:endorse"/>
<output wsam:Action="http://mealcheckservice.astielau/MealCheckWS/endorseResponse" message="tns:endorseResponse"/>
</operation>
</portType>
<binding name="MealCheckWSPortBinding" type="tns:MealCheckWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="list">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="use">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="emit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="endorse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MealCheckWS">
<port name="MealCheckWSPort" binding="tns:MealCheckWSPortBinding">
<soap:address location="http://localhost:8080/MealCheckService/MealCheckWS"/>
</port>
</service>
</definitions>