src/wsdl/lpt-fa2802_8080/InvoiceRegistryService/InvoiceRegistryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://invoiceregistryservice.astielau/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://invoiceregistryservice.astielau/" name="InvoiceRegistryWS">
<types>
<xsd:schema>
<xsd:import namespace="urn:pt:invoiceregisrty:ws" schemaLocation="http://lpt-fa2802:8080/InvoiceRegistryService/InvoiceRegistryWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://invoiceregistryservice.astielau/" schemaLocation="http://lpt-fa2802:8080/InvoiceRegistryService/InvoiceRegistryWS?xsd=2"/>
</xsd:schema>
</types>
<message name="registerInvoice">
<part xmlns:ns1="urn:pt:invoiceregisrty:ws" name="parameters" element="ns1:registerInvoice"/>
</message>
<message name="registerInvoiceResponse">
<part name="parameters" element="tns:registerInvoiceResponse"/>
</message>
<message name="getRespectiveVAT">
<part xmlns:ns2="urn:pt:invoiceregisrty:ws" name="parameters" element="ns2:getRespectiveVAT"/>
</message>
<message name="getRespectiveVATResponse">
<part xmlns:ns3="urn:pt:invoiceregisrty:ws" name="parameters" element="ns3:getRespectiveVATResponse"/>
</message>
<message name="getInvoices">
<part xmlns:ns4="urn:pt:invoiceregisrty:ws" name="parameters" element="ns4:getInvoices"/>
</message>
<message name="getInvoicesResponse">
<part name="parameters" element="tns:getInvoicesResponse"/>
</message>
<message name="listInvoices">
<part xmlns:ns5="urn:pt:invoiceregisrty:ws" name="parameters" element="ns5:listInvoices"/>
</message>
<message name="listInvoicesResponse">
<part xmlns:ns6="urn:pt:invoiceregisrty:ws" name="parameters" element="ns6:listInvoicesResponse"/>
</message>
<portType name="InvoiceRegistryWS">
<operation name="registerInvoice">
<input wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/registerInvoiceRequest" message="tns:registerInvoice"/>
<output wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/registerInvoiceResponse" message="tns:registerInvoiceResponse"/>
</operation>
<operation name="getRespectiveVAT">
<input wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/getRespectiveVATRequest" message="tns:getRespectiveVAT"/>
<output wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/getRespectiveVATResponse" message="tns:getRespectiveVATResponse"/>
</operation>
<operation name="getInvoices">
<input wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/getInvoicesRequest" message="tns:getInvoices"/>
<output wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/getInvoicesResponse" message="tns:getInvoicesResponse"/>
</operation>
<operation name="listInvoices">
<input wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/listInvoicesRequest" message="tns:listInvoices"/>
<output wsam:Action="http://invoiceregistryservice.astielau/InvoiceRegistryWS/listInvoicesResponse" message="tns:listInvoicesResponse"/>
</operation>
</portType>
<binding name="InvoiceRegistryWSPortBinding" type="tns:InvoiceRegistryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerInvoice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRespectiveVAT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInvoices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listInvoices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InvoiceRegistryWS">
<port name="InvoiceRegistryWSPort" binding="tns:InvoiceRegistryWSPortBinding">
<soap:address location="http://lpt-fa2802:8080/InvoiceRegistryService/InvoiceRegistryWS"/>
</port>
</service>
</definitions>